In [0]:
from google.colab import drive
import pandas as pd

In [0]:
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
users = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data/u.user', sep='|', index_col='user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [0]:
users_by_occ_sex = users.groupby(['occupation','gender']).size()
users_by_occ_sex.head()

occupation     gender
administrator  F         36
               M         43
artist         F         13
               M         15
doctor         M          7
dtype: int64

In [0]:
users_by_occ = users['occupation'].value_counts()
users_by_occ.index.name = 'occupation'
users_by_occ.head()

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

In [0]:
users_by_occ_sex / users_by_occ * 100

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
dtype: float64

In [0]:
users['zip_short'] = users['zip_code'].apply(lambda x: x[0:2] + x[3:])
users.head()

         age gender  occupation zip_code zip_short
user_id
1         24      M  technician    85711      8511
2         53      F       other    94043      9443
3         23      M      writer    32067      3267
4         24      M  technician    43537      4337
5         33      F       other    15213      1513

In [0]:
def tramos(x):
    tramo = None
    if x < 18:
        tramo = '<18'
    elif x < 35:
        tramo = '<35'
    else:
        tramo = '<100'
    return tramo

In [0]:
users['age_tramos'] = users['age'].apply(tramos)
users.head()

         age gender  occupation zip_code zip_short age_tramos
user_id
1         24      M  technician    85711      8511        <35
2         53      F       other    94043      9443       <100
3         23      M      writer    32067      3267        <35
4         24      M  technician    43537      4337        <35
5         33      F       other    15213      1513        <35

In [0]:
corr_matrix = df.corr().abs()

sol = (corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
                 .stack()
                 .sort_values(ascending=False)
       
sol[sol > th]

In [0]:
import pandas as pd

df1 = pd.DataFrame([1,2,3], columns=['ID'])
df2 = pd.DataFrame([10,2,30], columns=['ID'])

In [0]:
df1

   ID
0   1
1   2
2   3

In [0]:
df2

   ID
0  10
1   2
2  30

In [0]:
df1[~df1.ID.isin(df2.ID)]

   ID
0   1
2   3

In [0]:
u = users.copy()
u[['gender','occupation']].replace(regex='[m]',value='f')

        gender     occupation
user_id
1            M     technician
2            F          other
3            M         writer
4            M     technician
5            F          other
6            M      executive
7            M  adfinistrator
8            M  adfinistrator
9            M        student
10           M         lawyer
11           F          other
12           F          other
13           M       educator
14           M      scientist
15           F       educator
16           M  entertainfent
17           M     prograffer
18           F          other
19           M      librarian
20           F      hofefaker
21           M         writer
22           M         writer
23           F         artist
24           F         artist
25           M       engineer
26           M       engineer
27           F      librarian
28           M         writer
29           M     prograffer
30           M        student
...        ...            ...
914          F          other
915          M  entertainfent
916          M       engineer
917          F        student
918          M      scientist
919          M          other
920          F         artist
921          F        student
922          F  adfinistrator
923          M        student
924          M          other
925          F       salesfan
926          M  entertainfent
927          M     prograffer
928          M        student
929          M      scientist
930          F      scientist
931          M       educator
932          M       educator
933          M        student
934          M       engineer
935          M         doctor
936          M          other
937          M       educator
938          F     technician
939          F        student
940          M  adfinistrator
941          M        student
942          F      librarian
943          M        student

[943 rows x 2 columns]